.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    min-width: 150px;
    max-width: 150px;
    min-height: 100vh;
    float: left;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#banner {
    height: 80px;
}

.banner_right {
    float: right;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */ */



/* h1 {
    color: blueviolet;
}




#sidebar a {
    color: bisque;
}

#banner {
    background-color: burlywood;
    text-align: center;
    box-shadow: 0px 0px 0px 2px gray;
    height: 80px;
    
}

#sidebar {
    background-color: rebeccapurple;
    float: left;
    width: 10%;
    height: 100vh;

}

#content {
    background-color: black;
    color: whitesmoke;
    float: right;
    width: 90%;
    height: 100vh;
}