{% load static %}
{% load icons %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}

    <title>Django Blog</title>
</head>
<body class="container mt-5">
{% block content %}

{% endblock content %}
</body>
</html>