{% load static %}
{% load icons %}
{% load bootstrap4 %}
{% icon 'sidebar-menu' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<header>
{% include 'jitzHub/fragments/main-navigation.html' %}
</header>


<body>
    <div id="wrapper">
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>

    </div>
</body>
</html>