{% extends "./layout/base.html" %}
{% load static %}

{% block content %}
    <h1>Signup</h1>
    <form action="/accounts/signup/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Signup">
    </form>
{% endblock content %}